// showing default values
$accentColor = #6B7DEA
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34


.domainName:after {
    content: 'aboutgoods-company.com';
}

.object:after {
    content: 'provide information about all the companies activities'
}

.requiredData:after {
    content: 'Navigator Language'
}

.fr-object:after {
    content: 'fournir une information concernant l’ensemble des activités de la société'
}

.fr-requiredData:after {
    content: 'Langue du navigateur'
}